<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" type="text/css"></link>
        <title>Recent Played Songs</title>
    </head>
        <center>
            <!--font color="black" size="4" style="font-family: sans-serif"-->
            <h1>Spotify Song Tracker</h1>
            <h2>Get insights from your most recent songs on Spotify. Start now!</h2>
        
            <form action="/callback" autocomplete="on" method="POST" enctype="multipart/form-data">
                <button type="submit">AUTHORIZE</button>
            </form>
        </center>
    </body>
</html>
